<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.internetbank.mapper.CardMapper">
    <update id="update">
        update card
            <set>
                <if test="cardPassword != null and cardPassword != ''">
                    cardPassword = #{cardPassword}
                </if>

                <if test="balance != null and balance != ''">
                    balance = #{balance}
                </if>

                <if test="status != null and status != ''">
                    status = #{status}
                </if>
            </set>
                where cardId = #{cardId}
    </update>
</mapper>