<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.internetbank.mapper.UserMapper">
    <update id="update">
        update user
            <set>
                <if test="userName != null and userName != ''">
                    userName = #{userName},
                </if>
                <if test="gender != null and gender != ''">
                    gender = #{gender},
                </if>
                <if test="age != null and age != ''">
                    age = #{age},
                </if>
                <if test="telephone != null and telephone != ''">
                    telephone = #{telephone},
                </if>
                <if test="address != null and address != ''">
                    address = #{address},
                </if>
                <if test="password != null and address != ''">
                    password = #{password}
                </if>
            </set>
                where userId = #{userId}
    </update>
</mapper>